
__pycache__/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.classpath
.com.apple.timemachine.donotpresent
.coverage
.cursor/
.cursorindexingignore
.cursorrules
.DocumentRevisions-V100
.DS_Store
.eggs/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.fseventsd
.giga/
.idea/
.installed.cfg
.LSOverride
.npm
.project
.Python
.rakeTasks
.settings/
.specstory/
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode/
.yarn-integrity
*.bak
*.bottle.*
*.db
*.dll
*.dylib
*.egg
*.egg-info/
*.exe
*.gem
*.log
*.o
*.py[cod]
*.rbc
*.so
*.sql
*.sqlite
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tar.gz
*.tar.xz
*~
*$py.class
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
archive/
bin/
build_temp_test_script/
build/
coverage/
develop-eggs/
dist/
downloads/
eggs/
env/
Formula/*.backup.*
Icon
lib/
lib64/
Network Trash Folder
node_modules/
npm-debug.log
out/
parts/
sdist/
staging/
target/
Temporary Items
test-*.html
test-*.pdf
test.html
test.pdf
tests/fixtures/*.pdf
var/
wheels/
yarn-debug.log
yarn-error.log